@model IEnumerable<Question>
    <body style='        background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100% );'>


        <br />
        <div class="jumbotron">
            <button type="button" class="btn btn-outline-primary btn-lg btn-block">
                <h2>Question List</h2>
            </button>
            <br />
            <br />

            <form method="post">
                @if (Model.Count() > 0)
                {


                    <div class="tablebg">
                        <table class="table">
                            <tr>
                                <th>Question ID</th>
                                <th>Question Input</th>
                                <th>Category ID</th>
                                <th>User ID</th>
                                <th>Action</th>

                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td> <a href="/Question/ViewQuestion/@item.QuestionID">@item.QuestionID</a></td>
                                    <td> <a href="/Question/ViewQuestion/@item.QuestionID">@item.QuestionInput</a></td>
                                    <td>@item.CategoryID</td>
                                    <td>@item.UserID</td>
                                    <td>

                                        <a href="/Question/EditQuestion/@item.QuestionID" class="btn btn-success btn-sm">Edit</a>

                                    </td>
                                </tr>

                            }

                        </table>
                    </div>
                    <br />
                    <a class="btn btn-outline-success btn-lg btn-block" href="/Question/CreateQuestion"> Create New Question</a>
                    <br />
                }
                else
                {
                    <p>No Questions Available</p>
                }
            </form>
            </div>
    </body>


@*@model IEnumerable<Question>
<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Questions</h2>
    </div>
    <div class="col-3">
        <a class="btn btn-info form-control text-white" href="/Question/CreateQuestion"> Create New Question</a>
    </div>
</div>
<div class="col-12 border p-3 mt-3 ">
    <form method="post">
        @if (Model.Count() > 0)
        {
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>QuestionInput</th>
                    <th>Category ID</th>
                    <th>User ID</th>
                   
                </tr>
                @foreach (var question in Model)
                {
                    <tr>
                        <td><a href=/Question/ViewQuestion/@question.QuestionID>@question.QuestionID</a></td>
                        <td>@question.QuestionInput</td>
                        <td>@question.CategoryID</td>
                        <td>@question.UserID</td>
                        
                        <td>
                            <a href="/Question/EditQuestion/@question.QuestionID" class="btn btn-success btn-sm">Edit</a>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>No Questions Available</p>
        }
    </form>
</div>
*@
